{% extends 'base.html' %}

  {% block content %} 

    <div id="center-text">
        <h2>Bienvenue dans un monde de minimalisme</h2>
        <h3>Nul besoin de contenu pour nourrir vos sens</h3>
      </div> 
    <div id="body"> 
      
    <div id="chat-circle" class="btn btn-raised">
            <div id="chat-overlay"></div>
                <i id="icone-chat-box" class="material-icons">speaker_phone</i>
    </div>
      
      <div class="chat-box">
        <div class="chat-box-header">
          ChatBot
          <span class="chat-box-toggle"><i class="material-icons">close</i></span>
        </div>
        <div class="chat-box-body">
          <div class="chat-box-overlay">   
          </div>
          <div class="chat-logs">

          </div><!--chat-log -->
        </div>
        <div class="chat-input">      
          <form>
            <input type="text" id="chat-input" placeholder="Send a message..."/>
          <button type="submit" class="chat-submit" id="chat-submit"><i class="material-icons">send</i></button>
          </form>      
        </div>
      </div>
    </div>

{% endblock %}